asgiref==3.8.1
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.9
djangorestframework==3.16.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.3
stripe==14.0.1
typing_extensions==4.13.2
urllib3==2.5.0
whitenoise==6.11.0
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.3.1
